<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>receive</servlet-name>
    <servlet-class>com.ctvit.weixin.ReceiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receive</servlet-name>
    <url-pattern>/receive</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>redirect</servlet-name>
    <servlet-class>com.ctvit.weixin.RedirectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>redirect</servlet-name>
    <url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bridge</servlet-name>
    <servlet-class>com.ctvit.weixin.ReceiveBridge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bridge</servlet-name>
    <url-pattern>/bridge</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toepg</servlet-name>
    <servlet-class>com.ctvit.epg.ToepgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toepg</servlet-name>
    <url-pattern>/toepg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>epgdata</servlet-name>
    <servlet-class>com.ctvit.epg.EpgdataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>epgdata</servlet-name>
    <url-pattern>/epgdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>subscribe</servlet-name>
    <servlet-class>com.ctvit.epg.SubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subscribe</servlet-name>
    <url-pattern>/subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showsub</servlet-name>
    <servlet-class>com.ctvit.epg.ShowSubscribeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showsub</servlet-name>
    <url-pattern>/showsub</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>virtualSeat</servlet-name>
    <servlet-class>com.ctvit.epg.GetVirtualseatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>virtualSeat</servlet-name>
    <url-pattern>/virtualSeat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>scanQrcode</servlet-name>
    <servlet-class>com.ctvit.map.ScanQrcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>scanQrcode</servlet-name>
    <url-pattern>/scanQrcode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>reports</servlet-name>
    <servlet-class>com.ctvit.map.Reports</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reports</servlet-name>
    <url-pattern>/reports</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>prizeServlet</servlet-name>
    <servlet-class>com.ctvit.map.PrizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>prizeServlet</servlet-name>
    <url-pattern>/prizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>activity</servlet-name>
    <servlet-class>com.ctvit.map.Activity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>activity</servlet-name>
    <url-pattern>/activity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkUser</servlet-name>
    <servlet-class>com.ctvit.map.CheckUser</servlet-class>
  </servlet>
  <listener>
    <listener-class>com.ctvit.util.StatisticsContextListener</listener-class>
  </listener>
  <!--  <listener>
    <listener-class>com.ctvit.weixin.GetWeixinUsers</listener-class>
  </listener> -->
  <servlet>
    <servlet-name>getUser</servlet-name>
    <servlet-class>com.ctvit.weixin.GetWeixinUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkUser</servlet-name>
    <url-pattern>/checkUser</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>