<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
<!-- followers >-->
    <bean id="groupsMapper" class="org.mybatis.spring.MapperFactoryBean">
   		<property name="mapperInterface" value="com.ctvit.dao.GroupsMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="groupsService" class="com.ctvit.service.GroupsServiceImp">
		<property name="groupsMapper" ref="groupsMapper" />
      	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
<!--       	<property name="KeyGenerator" ref="KeyGenerator"/> -->
	</bean>
	
	<bean name="groupsAction" class="com.ctvit.action.GroupsAction" scope="prototype">
		<property name="groupsService" ref="groupsService"></property>
		<property name="waccountService" ref="waccountService"></property>
	</bean>
</beans>