<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
<!-- followers >-->
    <bean id="followersMapper" class="org.mybatis.spring.MapperFactoryBean">
   		<property name="mapperInterface" value="com.ctvit.dao.FollowersMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="followersService" class="com.ctvit.service.FollowersServiceImp">
		<property name="followersMapper" ref="followersMapper" />
      	<property name="sqlSessionFactory" ref="sqlSessionFactory" />
<!--       	<property name="KeyGenerator" ref="KeyGenerator"/> -->
	</bean>  
	<bean name="followersExt" class="com.ctvit.bean.FollowersExt" />
	<bean name="groupsBean" class="com.ctvit.bean.GroupsBean" />
	<bean name="replayBean" class="com.ctvit.bean.ReplayBean" />
	<bean name="followersAction" class="com.ctvit.action.FollowersAction" scope="prototype">
		<property name="followersService" ref="followersService"></property>
		<property name="waccountService" ref="waccountService"></property>
		<property name="followersExt" ref="followersExt"></property>
		<property name="groupsBean" ref="groupsBean"></property>
		<property name="replayBean" ref="replayBean"></property>
	</bean>
</beans>
