<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	
	 <!-- mapper -->
	<bean id="keywordMapper" class="org.mybatis.spring.MapperFactoryBean">
		<property name="mapperInterface" value="com.ctvit.dao.KeywordMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
    </bean>
 	 <bean id="waccountmapper" class="org.mybatis.spring.MapperFactoryBean">
		<property name="mapperInterface" value="com.ctvit.dao.WaccountMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" /> 
    </bean>
    <!-- impl -->
	<bean id="keyWordService" class="com.ctvit.service.KeywordService">
	  <property name="keywordMapper" ref="keywordMapper"/>
     <property name="sqlSessionFactory" ref="sqlSessionFactory" />
      <property name="KeyGenerator" ref="KeyGenerator"/>  
    </bean>
	<bean id="waccountService" class="com.ctvit.service.WaccountServiceImpl">
	  <property name="waccountmapper" ref="waccountmapper"/>
     <property name="sqlSessionFactory" ref="sqlSessionFactory" />
      <property name="KeyGenerator" ref="KeyGenerator"/>  
    </bean>
	<!-- action-->
	<bean name="keywordAction" class="com.ctvit.action.KeywordAction" scope="prototype">
		<property name="keyWordService" ref="keyWordService"></property>
		<property name="waccountService" ref="waccountService"></property>
		<property name="loggerService" ref="loggerService" />
	</bean>
</beans>