<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
		
    <bean id="interactMapper" class="org.mybatis.spring.MapperFactoryBean">
   		<property name="mapperInterface" value="com.ctvit.dao.InteractMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="interactService" class="com.ctvit.service.InteractService">
		<property name="interactMapper" ref="interactMapper" />
		<property name="followersMapper" ref="followersMapper" />
		<property name="keyGenerator" ref="KeyGenerator"/>  
	</bean>
	<bean id="interactLocation" class="com.ctvit.bean.InteractLocation" />
	<bean id="meetingAgenda" class="com.ctvit.bean.MeetingAgenda" />
	<bean id="meetingContent" class="com.ctvit.bean.MeetingContent" />
	<bean id="probability" class="com.ctvit.bean.Probability" />
	<bean id="prizeTitle" class="com.ctvit.bean.PrizeTitle" />
	<bean name="interactAction" class="com.ctvit.action.InteractAction" scope="prototype">
		<property name="interactService" ref="interactService"></property>
		<property name="wordsService" ref="wordsService"></property>
		<property name="meetingAgenda" ref="meetingAgenda"></property>
		<property name="meetingContent" ref="meetingContent"></property>
		<property name="probability" ref="probability"></property>
		<property name="prizeTitle" ref="prizeTitle"></property>
		
	</bean>
</beans>
