<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
		
    <bean id="questionMapper" class="org.mybatis.spring.MapperFactoryBean">
   		<property name="mapperInterface" value="com.ctvit.dao.QuestionMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="questionService" class="com.ctvit.service.QuestionService">
		<property name="questionMapper" ref="questionMapper" />
		
		<property name="keyGenerator" ref="KeyGenerator"/>  
	</bean>
	<bean id="headtitleBean" class="com.ctvit.bean.HeadtitleBean" />
	<bean id="questionBean" class="com.ctvit.bean.QuestionBean" />
	<bean id="optionBean" class="com.ctvit.bean.OptionBean" />
	<bean id="questionBeans" class="com.ctvit.bean.QuestionBeans" />
	<bean id="optionBeans" class="com.ctvit.bean.OptionBeans" />
	<bean id="questionStat" class="com.ctvit.bean.QuestionStat" />
	<bean id="receiveQuestionBean" class="com.ctvit.bean.ReceiveQuestionBean" />
	<bean name="questionAction" class="com.ctvit.action.QuestionAction" scope="prototype">
		<property name="questionService" ref="questionService"></property>
		<property name="optionBean" ref="optionBean"></property>
		<property name="headtitleBean" ref="headtitleBean"></property>
		<property name="questionBean" ref="questionBean"></property>
		<property name="questionBeans" ref="questionBeans"></property>
		<property name="optionBeans" ref="optionBeans"></property>
		<property name="questionStat" ref="questionStat"></property>
		<property name="receiveQuestionBean" ref="receiveQuestionBean"></property>
	</bean>
</beans>
