<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
	<!-- epg -->
	 <bean id="reservationMapper" class="org.mybatis.spring.MapperFactoryBean">
		<property name="mapperInterface" value="com.ctvit.dao.ReservationMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	 <bean id="virtualseatInfoMapper" class="org.mybatis.spring.MapperFactoryBean">
		<property name="mapperInterface" value="com.ctvit.dao.VirtualseatInfoMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="reservationServiceImpl" class="com.ctvit.service.ReservationServiceImpl">
		<property name="reservationMapper" ref="reservationMapper" />
	</bean> 
	<bean id="virtualseatInfoServiceImpl" class="com.ctvit.service.VirtualseatInfoServiceImpl">
		<property name="virtualseatInfoMapper" ref="virtualseatInfoMapper" />
	</bean> 

	 <bean name="epgAction" class="com.ctvit.action.EpgAction" scope="prototype">
		 <property name="reservationServiceImpl" ref="reservationServiceImpl" />
		 <property name="virtualseatInfoServiceImpl" ref="virtualseatInfoServiceImpl" />
	</bean>
 


</beans>