<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
		
    <bean id="writeWordsActivityMapper" class="org.mybatis.spring.MapperFactoryBean">
   		<property name="mapperInterface" value="com.ctvit.writewords.dao.WriteWordsActivityMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="writeWordsActivityService" class="com.ctvit.writewords.service.WriteWordsActivityService">
		<property name="writeWordsActivityMapper" ref="writeWordsActivityMapper" />
		<property name="keyGenerator" ref="KeyGenerator"/>  
	</bean>
	
	<bean name="writeWordsActivityAction" class="com.ctvit.writewords.action.WriteWordsActivityAction" scope="prototype">
		<property name="writeWordsActivityService" ref="writeWordsActivityService"></property>
	</bean>
	
	<bean id="writeWordsListMapper" class="org.mybatis.spring.MapperFactoryBean">
   		<property name="mapperInterface" value="com.ctvit.writewords.dao.WriteWordsListMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
    </bean>
    
	<bean id="writeWordsListService" class="com.ctvit.writewords.service.WriteWordsListService">
		<property name="writeWordsListMapper" ref="writeWordsListMapper" />
		<property name="writeWordsActivityMapper" ref="writeWordsActivityMapper" />
	</bean>
	
	<bean name="writeWordsListAction" class="com.ctvit.writewords.action.WriteWordsListAction" scope="prototype">
		<property name="writeWordsListService" ref="writeWordsListService"></property>
	</bean>
</beans>
